* {
  margin: 0;
}

/*header {
  height: 100px;
  border: 7px dashed red;
  padding: 16px;
*/

main {
  color: purple;
  padding: 8px;

  background-color: rgb(55, 100, 50);
  background-image: url(https://www.rocketseat.com.br/favicon.ico);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: fixed;

  /*shorthand */
  background:  linear-gradient(rgba(255, 255, 255, 0), rgba(255,0,0, 0.2)),
  url(https://www.rocketseat.com.br/favicon.ico) no-repeat right top / 50px border-box content-box fixed; 
}